@media only screen and (max-width: 1024px) {
      #topsearched .col-lg-4:nth-child(1) .w-25{
        width: 50%!important;
    }
    #topsearched .col-lg-4:nth-child(3) .text-end{
        text-align: center!important;
    }
    .col-lg-9 .px-5 {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    .nav-spacer {
        margin-top: 7.7rem!important;
    }
    .col-lg-9 .m-3 {
        margin: 0rem !important;
    }
    .col-lg-9 .p-4{
        padding: 0rem!important;
    }
}
@media only screen and (max-width: 768px) {
#productForm{
    display: none!important;
}
.side-nav {
    margin-top: 1rem!important;
}
.nav-spacer {
    margin-top: 4.5rem!important;
}
.w-30 {
    width: 50%!important;
}

}

@media only screen and (max-width: 575px) {
    .toastify {
        padding: 20px 20px!important;
    }
    .login-dashboard .row .col-sm-6:nth-of-type(2){
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .toastify {
        padding: 15px 15px!important;
    }
    .login-dashboard .row .col-sm-6:nth-of-type(2){
        display: none;
    }
}